body{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  height: 100vh;
  }
  #backgroudc{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    height: 100vh;
  }
  .secOne {
    padding: 20px;
    border-radius: 30px;
    background-color: #fbfbf9;
    box-shadow: 2px 2px 5px;
    width: 30%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .img {
    width: 350px;
    height: 150px;
    margin-top: -45px;
    margin-bottom: -45px;
  }
  
  .inp {
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
    font-size: 0.9em;
  }
  
  .but {
    height: 3em;
    color: white;
    border-radius: 10px;
    border: none;

  }
  
  .lab {
    font-size: 1.3em;
  }
  
  @media only screen and (max-width: 760px) {
    .secOne {
      width: 70%;
    }
  }